/* sass variables */
$orange: #fe6c01;
$dark-orange: #e36101;
$pink: #f42c63;
$dark-pink: #d0184a;
$form: #252525;
$light: #f2f2f2;
$dark: #121212;
$darker: #0c0c0c;
$dark-input: #1e1e1e;
$full: 100vh;
$center: 0 auto;